.home {
	display: grid;
	place-content: center;
	height: 100dvh;
	background-image: url('https://wallpapercat.com/w/full/1/f/8/11686-1920x1080-desktop-full-hd-pokemon-legends-arceus-background-image.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home2 {
	display: grid;
	place-content: center;
	height: 100dvh;
	background-image: url('/hero2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home__title {
	margin-bottom: 0.6rem;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	font-size: 1.2rem;
	background-color: #fba70097;
	padding: 10px;
	border-radius: 8px;
}

.home__text {
	margin-bottom: 0.8rem;
	color: white;
	font-weight: 500;
	text-align: center;
	font-size: 1.2rem;
	background-color: #fba70097;
	padding: 10px;
	border-radius: 8px;
}

.home__input {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0.3rem 0.75rem;
	font-size: inherit;
	border-radius: 7px 0 0 7px;
}

.home__btn {
	background-color: #fba700be;
	border: transparent;
	padding: 0.35rem 0.7rem;
	font-size: inherit;
	border-radius: 0 7px 7px 0;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.home__btn:hover {
	background-color: #fba700;
}

.home__link {
	color: #000000be;
	font-weight: 700;
}

.btn--radious {
	border-radius: 7px;
}
