.pokedex {
	min-height: 100vh;
	height: 100%;
	width: 100vw;

	background-image: url('/bg-poke2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.pokedex__error {
	color: white;
	font-weight: 500;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 20px;
	background-color: #fba700ae;
	padding: 10px;
	border-radius: 8px;
}

.psynotfound {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.psynotfound img {
	border-radius: 15px;
	max-width: 350px;
	width: 450px;
}

.hero img {
	margin: 0 auto;
}

.btn__back {
	display: flex;
	align-items: center;
	gap: 0.7rem;
	padding: 0.5rem;
}

.pokedex__container {
	min-height: 100vh;
	max-width: 1024px;
	height: 100%;
	width: 100vw;
	margin: 0 auto;
	padding: 0 1rem 2rem;
}

.pokedex__form {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
}

.pokedex__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}

.btns__pg button {
	border-radius: 6px;
	border: 1px solid transparent;
	padding: 0.6rem 2rem;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #fba700ae;
	cursor: pointer;
	transition: border-color 0.4s;
	transition: box-shadow 0.4s;
	border-bottom: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.btns__pg {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.errpsy {
	display: flex;
	align-items: center;
}

.load__wooper {
	display: grid;
	place-content: center;
	height: 100;
	min-width: 350px;
	width: auto;
}
